.blog-container {
    /* border-radius: 6px; */
    /* border: 1px solid black; */
    width: 32.6%;
    margin: 0.5%;
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: grayscale(1);
    transition: filter 0.5s ease-in-out;
}

.blog-container:hover {
    
    /* box-shadow: 10px 1px 13px rgba(135, 135, 135, 0.74); */
    filter: grayscale(0);
    transition-property:  filter;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.image-container {
    padding-left: 1%;
    padding-right: 1%;
    
}

.image-decoration {
    height: 300px;
    width: 100%;
    /* border-radius: 7px; */
    border: 2px solid black;
}


.desc-h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
font-weight: 660;
}

.desc-h4 {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

.desc-h5 {
    font-family: 'Playfair Display', serif;
    font-size: 0.8rem;
}

.desc-p {
    font-family: "Spectral", serif;
}