@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


.kode-mono {
    font-family: "Kode Mono", monospace !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.card-container {
    background-position: bottom;
    border-radius: 6px;
    background: linear-gradient(to right, #020202, #c3c3c3);
    margin: 2% 2% 2% 2%;
    padding: 1% 2% 1% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: grayscale(1);
    transition: filter 0.5s ease-in-out;
    box-shadow: 10px 1px 13px rgba(69, 69, 69, 0.74);
    height: 238px;
}

.card-container:hover {
    box-shadow: 0px 0px 5px rgba(122, 122, 122, 0.74);
    filter: grayscale(0);
    transition-property: background-color, box-shadow, filter;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.image-row-container {
    width: 25%;
    margin-right: 3%;
}

.image-row-decoration {
    height: auto;
    width: 100%;
    /* border-radius: 7px; */
    border: 2px solid black;
}

.remove-underline {
    text-decoration: inherit;
}

.descr-row-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.h2-style {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    font-weight: 400;
    padding: 0%;
    margin: 0%;
}

.p-style {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    padding: 0%;
    margin: 0% 0% 0.5% 0%;
    color: rgb(84, 84, 224);
}

.p-style-date {
    padding: 0%;
    margin: 0%; 
    color: rgb(253, 253, 253);
}

.h4-style {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    font-size: 1.0em;
    padding: 0%;
    margin: 0%;
    color: rgb(61, 156, 56);
}

.h5-style {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    font-size: 0.7em;
    padding: 0%;
    margin: 0%; 
    color: rgb(61, 155, 56);
}

.like-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}