.roadMap-row-container {
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-x: scroll;
  cursor: grab;
  padding: 20px 20px;
  user-select: none;
  margin-bottom: 8%;
}

.show-case {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 329px;
  margin: 0px 15px;
}

.roadMap-card-base {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.roadMap-card {
  margin: auto;
  max-width: 400px;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff));
  background: -o-linear-gradient(#f5f5f5, #ffffff);
  background: linear-gradient(#f5f5f5, #ffffff);
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  -webkit-box-shadow: inset 0 4px 7px 1px #ffffff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  box-shadow: 10px 1px 13px rgba(30, 30, 30, 0.74);
  border-radius: 15px;
}

.roadMap-card:hover {
  box-shadow: 0px 0px 5px rgba(122, 122, 122, 0.74);
  transition-property: box-shadow;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;}

.image-base {
  height: 260px;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #00c1de;
  background: -webkit-gradient(linear, left top, left bottom, from(#167af4), to(#00c1de));
  background: -o-linear-gradient(#167af4, #00c1de);
  background: linear-gradient(#167af4, #00c1de);
  box-sizing: border-box;
}

.roadMap-image-position {
  transition: 0.4s all;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  height: 100%;
}

.roadmap-description {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: 500;
  line-height: 18px;
  font-size: 16px;
  opacity: 0.8;
}

.roadmap-title {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  line-height: 1.2;
  margin-top: 7px;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.bot-base {
  height: 84px;
  position: relative;
  text-align: center;
  z-index: 1;
  display: flex;
}

.roadMaps-page-outer-container {
  padding: 4% 5% 2% 5%;
  font-family: 'Playfair Display', serif;
}

.card-stats {
  width : 50%
}

.big-number {
  padding: 10px;
  font-size: 26px;
  font-weight: 500;
  color: #222222;
}

.text-label {
  margin-top: -5px;
  font-size: 12px;
  color: grey;
}

.color-black {
  background-color: rgba(0, 0, 0, 0.781);
  border-bottom-right-radius: 15px;
  padding: 0% !important;
}

.font-color-white {
  color: white;
}

.type-title {
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 2.5%;
}

.more-buttton {
  width: 100px;
  border-radius: 14px;
  border: 1px solid grey;
  font-size : 1.3em;
}