.father-container {
  background: #f8f6f2 url("https://assets.codepen.io/618359/halftone_1.png");
  width: 100%;
  height: 92vh;
}

.roadmap-screen-container {
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
  color: black;
}

.sidebar-container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 0 0 25%;
  max-height: 90vh;
  max-width: 400px;
  top: 1.5vh;
  position: sticky;
  border-color: var(--body-background);
  background-color: var(--card-background);
  border-radius: .25rem;
  box-shadow: 0 .5em 1em -.125em #0a0a0a1a,0 0 0 1px #0a0a0a05;
  background-color: #f8f6f2;
  overflow-y: auto;
  border-bottom: 2px solid #3d3d3d;
  border-top: 2px solid #292929;
}

.sidebar-header {
  padding-top: 0;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid #515151;
  background-color: #515151;
  color: white;
  padding: 5% 0%;
}

.toggle-sidebar-style {
  margin-top: 5px;
  font-size: 2.1rem !important;
}

.sidebar-header-style {
  display: flex;
  margin-left: 5%;
  margin-top: 8px;
  justify-content: space-between;
  width: 95%;
  padding-right: 2%;
}

.sidebar-header-text {
  display: inline;
  text-align: left;
  font-weight: 600;
}

.sidebar-style {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.item-content-container {
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebar-content-container {
  text-align: left;
  overflow-y: clip;
}

.chapter-name-container {
  user-select: none;
  cursor: default;
  width: 100%;
}

.chapter-name-style {
  padding: 20px 18px;
  background-color: black;
  color: white;
  margin: 0%;
}

.sidebar-item-container {
  cursor: pointer;
  transition: all .3s ease;
  display: flex;
  padding-left: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
  color: black;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.sidebar-item-container:hover {
  cursor: pointer;
  background-color: rgb(89, 89, 89);
  color: white;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  
}


.sidebar-item-number {
  font-size: 22px;
  flex: 0 0 30px;
  font-size: medium;
  background-color: #000000;
  color: #fff;
  border-radius: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  padding: 0;
  text-align: center;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-item-name {
  font-size: 22px;
}

.item-content-container {
  width: 78%;
  padding: 20px 20px 50px;
  margin-left: 0.5%;
  background-color: transparent;
  max-height: 90vh;
  overflow-x: auto;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 .5em 1em -.125em #0a0a0a1a,0 0 0 1px #0a0a0a05;
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.content-item-title {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 600;

}

.youtube-video-style {
  
  width: 100%;
  max-width: 100%;
  max-height: auto;
  margin: 4% 0% 2% 0%;
}

.youtube-video-style img {
  width: 1200px;
  border-radius: 8px !important;
}

.content-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-opt {
  padding: 1% 4%;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid black;
  border-collapse: collapse;
  cursor: pointer;
}

.content-opt:hover {
  background-color: rgb(122, 122, 122);
  color: white;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.active {
  background-color: rgb(122, 122, 122);
  color: white;
}

.border-left-radius {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.border-right-radius {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}