.img-size {
  height: 723px;
  width : 512px;  
    filter: grayscale(1);
    transition: filter 0.5s ease-in-out;
  }

.img-size:hover {
  filter: grayscale(0);
  transition: filter 1s ease-in-out;
}  

.font-new-style {
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  font-weight: 660;
}

.mouse-icon:hover {
  cursor: pointer;
}

.info-style {
  color: #575d94;
  background-color: rgba(160, 160, 160, 0.19);
  border-radius: 14px;
}