* {
  margin: 0;
  padding: 0;
}

/* Modal Button */
.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}


/* Modal */
.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  font-family: "Kode Mono", monospace !important;
  max-width: 90%;
  max-height: 82vh;
  min-height: 440px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  overflow-y: scroll;
}

img {
  width: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.modalRight {
  width: 100%;
  height: 100%;
}

.closeBtn {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 80px;
  height: 40px;
  border: 1px grey solid;
  border-radius: 10px;
}

.closeBtn:hover {
  background-color: rgba(186, 0, 0, 0.212);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
}
.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: #411b57;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #411b57;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }

  .heading {
    margin: 1rem;
  }
}

.blog-list-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0% 0%;  
  width: 94%;
  height: 100%;
  min-height: 250px;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* border-radius: 9px; */
  border-top: 2px solid black;
  cursor: pointer;
}

.each-blog-row-style {
  width: 100%;
  padding: 0.5%;
  border: 1px solid black;
  border-collapse: collapse;
  box-shadow: 10px 1px 13px rgba(69, 69, 69, 0.74);
  background-color: rgb(213, 213, 213);
}

.each-blog-row-style:hover {
  box-shadow: 0px 0px 5px rgb(0, 85, 255);
  background-color: rgba(255, 255, 255, 0.621);
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  color: rgb(0, 85, 255);
}