.outer-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8% 2% 0.8% 2%;
    /* border-bottom: 2px solid black; */
    /* position: fixed; */
    width: 100%;
    /* display: block; */
    transition: top 0.3s;
    /* opacity: 0.6; */
    background-color: #000000;
}

.nav-option-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-option-container-li {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
}

.nav-option-style {
    background-color: #000000;
    border: 0px solid #000000;
    padding: 0.8% 1.8%;
    color: white;
}

.nav-option-style:hover {
    border-radius: 2px;
    border-bottom: 1px solid black;
    padding: 0.5% 1.8%;
}

.logo-style {
    height: 47px;
    width: 150px;
}

.profile-container {
    width: 6%

}

.profile-button-style {
    margin-top: 6%;
    padding: 3% 7%;
    background-color: rgb(225, 225, 225);
    font-family: 'Playfair Display', serif;
    border-radius: 6px;
    font-size: 1.3rem;
}

.link-decoration {
    text-decoration: inherit;
    color: rgb(255, 255, 255);
}

.link-decoration:hover {
    color: rgb(161, 161, 161);
}